<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <br>
        <label for="number">Number:</label><br>
        <input type="text" id="number" name="number"><br>
        <br>
        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select><br>
        <br>
        <label for="date">Date:</label><br>
        <input type="date" id="date" name="date"><br>
        <br>
        <label for="text">Text:</label><br>
        <textarea id="text" name="text" rows="4" cols="50"></textarea><br>
        <br>
        <input type="submit" value="Submit Form">
    </form>
</body>
</html>